@model IEnumerable<Web.Models.ArticleViewModel>

@{
    ViewData["Title"] = "My articles";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Title, "EditArticle", new { id = item.Id }, new { @class = "h5 btn-link" })
                </td>
                <td>
                    @Html.ActionLink("Delete", "DeleteArticle", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
